

.form{
max-width: 1280px;
height: 100vh;
display:flex ;
justify-content: center;
align-items: center;
text-align: center;
}

.main-form div{
position: relative;
    margin: 10px 10px;
    width: 400px;
 top: -350px;
 right: -30px;
 text-align: left;
}
.main-form div input{
    width: 100%;
    font-family: 'Dancing Script', cursive;
    background:none;
    border: 3px solid #d2b48c;
    font-size: 25px;
outline: none;
text-align: left;
margin-top: 10px;

}
.main-form div select{
   width: 100%;
   font-family: 'Dancing Script', cursive;
   background: none;
   border: 3px solid #d2b48c;
   font-size: 25px;
}
#Envoyer{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
#Envoyer input{
    width: 200px;
    font-family: 'Dancing Script', cursive;
    width: 200PX;
    background-color: bisque!important;
    color: #000!important;

}
#Envoyer input:hover{
    font-family: 'Dancing Script', cursive;
    width: 200px; 
    background-color: bisque !important;
    color: #000 !important;
}

*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
 
}

p{
    font-weight: 300;
    color: #000;
   
    }

header{
    position: fixed;
    top: 0%;
    left: 0%;
  width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0,5s;
   padding: 5px;

}


.logo{
color:#d2b48c;
text-decoration: none;
font-family: 'Dancing Script', cursive;
font-size: 3em;
position: relative;
right: -70px;
top: -5px;

}
.logo span{
color: #ff0000;
font-family: 'Dancing Script', cursive;


}

.navbar .btn{

    padding: 10px ;
    background: #ff0000;
    color: #fff;
    border: #111;
    border-radius: 4px;
    font-size: 1em;
position: relative;
top: 2px;
text-decoration: none;
text-transform: uppercase;
letter-spacing: 2px;
transition: 0.5s;
font-weight: 500;

}
.navbar .btn:hover{
    letter-spacing: 5px;
}

.navbar {
display: flex;
position: relative;
align-items: center;
}
.navbar li{
list-style: none ;

}
.navbar a{
color:#d2b48c;
text-decoration:none ;
margin-left: 80px;
font-weight :  700;
margin-right: 50px;

}
  


header .navbar li a:hover{
color: #ff0000;
border-bottom: 2px solid #ff0000;
}
 h1{
    font-size: 2.5em;
margin-top: 110px;
    color: #bc8f8f;
    margin-bottom: 590px;
   margin-left: 200px;
   font-weight: 500;
   margin-left: 590px;
}
@media (max-width:991px) {
    header, header.stichy{
        padding: 10px 20px;
    }
    header .navbar li{
        margin-left: 0px;
    }
    header .navbar li a {
        text-decoration: none;
        color: #000;
        font-size: 1.6em;
    }
    .navbar{
        display: none;
    }
    section{

padding: 20px;
}
.banniere .contenu h2{


    font-size: 1.2em;
}
}